<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991051471016-8f45m29ep5iusb3492c118ueoaud88lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991051471016-8f45m29ep5iusb3492c118ueoaud88lu</string>
	<key>API_KEY</key>
	<string>AIzaSyAb2p6Unr_M2kgg6M5e0nS_46gZbF-Prbg</string>
	<key>GCM_SENDER_ID</key>
	<string>991051471016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nori.FirebaseClass5</string>
	<key>PROJECT_ID</key>
	<string>fir-class5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-class5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991051471016:ios:77d522180c35ba2e294a9d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-class5.firebaseio.com</string>
</dict>
</plist>