<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739830849017-d088rsd0j07kg8o5cjsmd0hli1ugpjar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739830849017-d088rsd0j07kg8o5cjsmd0hli1ugpjar</string>
	<key>API_KEY</key>
	<string>AIzaSyBbqmcZxrm7-u_PzkgRcLoCV435ktobveo</string>
	<key>GCM_SENDER_ID</key>
	<string>739830849017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nori.FirebaseClass7</string>
	<key>PROJECT_ID</key>
	<string>fir-class-2623f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-class-2623f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739830849017:ios:df36701151fbcccc823128</string>
	<key>DATABASE_URL</key>
	<string>https://fir-class-2623f.firebaseio.com</string>
</dict>
</plist>